<kos-intro>
  <h3 class="display-4 text-center m-3" translate="server.login.title"></h3>
  <div class="p-5">
    <div class="input-group" *ngIf="!checking">
      <input class="form-control" type="password" [(ngModel)]="password" [placeholder]="'server.login.placeholder' | translate" />
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="logIn()" [innerHTML]="'server.login.action' | translate" [disabled]="!password"></button>
      </div>
    </div>
    <div *ngIf="checking" class="w-100 text-center">
      <span class="text-primary"><i class="fa fa-circle-notch fa-spin"></i></span>&nbsp;<span translate="server.login.loading"></span>
    </div>
  </div>
  <div class="d-flex container-fluid align-items-center justify-content-center mt-3">
    <button class="btn btn-secondary mr-1" routerLink="/" [innerHTML]="'actions.prev' | translate" [disabled]="checking"></button>
  </div>
</kos-intro>
